

@font-face {
  font-family: "Bamini";
  src: url("./assets/fonts/Bamini.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "TAB Tamil";
  src: url("./assets/fonts/TAB_Tamil.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Latha";
  src: url("./assets/fonts/Latha.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

