a,
body,
div,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1,
h2,
h3 {
    font-size: 24px;
    padding: 4px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

a,
a:visited {
    color: #666;
    text-decoration: none;
}

body {
    background-color: #eee;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

#page {
    position: relative;
    width: 100%;
    max-width: 950px;
    min-width: 280px;
    margin: 0 auto;
}

#page-head {
    position: relative;
}

h1 {
    text-align: center;
    padding: 10px 0;
    padding-bottom: 20px;
}

#doc-text {
    background-color: #fff;
    min-height: 420px;
    margin-bottom: 5px;
    box-shadow: -1px 2px 9px #ccc;
    outline: 0;
    border: 1px solid #fff;
    padding: 3%;
}

#doc-text .action-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 30px;
    background-color: #0881cf;
}

#doc-text .action-bar .inner-control {
    position: relative;
    margin-top: 15px;
    background-color: #0a8dfa;
    max-width: 942px;
    margin: 0 auto;
    height: 34px;
    padding: 4px;
}

#doc-text .btn,
#doc-text button {
    display: inline-block;
    padding: 0 !important;
    margin: 0 !important;
    font-family: Arial, helvetica, sans-serif;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    width: 100px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #0a8dfa;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #3371b3;
    box-sizing: border-box;
}

#doc-text .btn:hover,
#doc-text button:hover {
    background-color: #286eb9;
}

#doc-text .btn:active,
#doc-text button:active {
    background-color: #4f98dc;
    box-shadow: inset 2px 2px 4px #1a5994;
}

#doc-text .white-btn {
    background-color: #fff;
    color: #0a8dfa;
    text-shadow: none;
}

#doc-text .white-btn:hover {
    background-color: #286eb9;
    color: #fff;
}

#doc-text .white-btn:active {
    background-color: #4f98dc;
    color: #fff;
}

#doc-text .green-btn {
    background-color: #58c300;
    color: #fff;
    text-shadow: none;
}

#doc-text .green-btn:hover {
    background-color: #419000;
    color: #fff;
}

#doc-text .green-btn:active {
    background-color: #4f98dc;
    color: #fff;
}

#doc-text .copy-btn {
    position: absolute;
    right: 4px;
    top: 4px;
    height: 35px;
    width: 100px;
}

#doc-textarea {
    display: block;
    padding: 0;
    width: 100%;
    border: none;
    resize: vertical;
    height: 434px;
    min-height: 400px;
    font-size: 14px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    outline: 0;
    background-image: url(../assets/background-image.png);
    background-position: 0 -5px;
    background-attachment: scroll;
    margin: 0 auto;
}

#tmp-text {
    display: none;
}

#tamil_type {
    padding: 0;
    border-width: 1px;
    border-style: dashed;
    border-color: #aaa;
    width: 95%;
    margin: 0 auto;
}

#tamil_type textarea {
    border: 0;
    height: 370px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

#alternate-headings {
    position: relative;
    width: 100px;
    height: 35px;
    background-color: rgb(185, 184, 184);
}

#alternate-headings:after {
    content: "";
    position: absolute;
    right: 4px;
    top: 4px;
    width: 0;
    height: 0;
    border-style: solid;
}

#alternate-headings:after {
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
}

#alternate-headings:hover:after {
    border-color: #4f98dc transparent transparent transparent;

}

#doc-text .top-left-corner {
    position: relative;
    top: 10px;
    left: 0px;
}

#doc-text .top-left-corner img {
    width: 30px;
    height: auto;
}
